html {
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    height: 100%;
}

body{
    background-color: #f2f2f2;
    font-family: 'Hind', sans-serif;
}

footer {
    background-color: #FFB6C1;
    color: white;
    width: 100%;
    padding: 15px 25px;
    margin-top: 80px;   
    margin-bottom: 0;
    bottom: 0px;
    left: 0px;
    font-size: 15px;
}

.footer-btn {
    color: white;
    border: none;
    font-size: 20px;
    margin-left: 30px;
}
.footer-btn:hover {
    color: rgb(102, 98, 102);
}


.navbar-brand, .navbar-brand:hover {
    font-family: 'Sacramento', cursive;
    font-weight: 900;
    color: #FFB6C1;
    font-size: 40px;
    padding: 10px 0px;
    margin-left: 7%;
}

.navbar-toggler {
    color: #FFB6C1;
    margin-right: 5%;
}

.nav-link {
    color: #FFB6C1;
    text-align: right;
    margin-right: 20px;
    /* font-size: 20px; */
}

.nav-link:hover, .nav-link:active {
    color: rgb(247, 149, 161);
    padding-right: 1rem;
}

.jumbotron {
    background: url(./images/annaprague.jpg) ;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: auto;
    height: 350px;
    max-height: 500px;
    margin:0;
}

h2 {
    color: rgb(102, 98, 102);
    padding-left: 10px;
}
/* ABOUT ME */
.description {
    background-color: #f2f2f2;
    color: rgb(97, 94, 97);
    padding: 3rem 2rem;
    text-align: center;
}

.myphoto {
    width: 10rem; 
    height: 10rem; 
    border-radius: 5rem;
    border: 2px solid #FFB6C1;
}
.profile-btn {
    color:rgb(102, 98, 102);
    font-size: 2rem;
    margin-top: 1rem;
}
.profile-btn:hover {
    color: darkgray;
}

/* PORTFOLIO */
.portfolio {
    border-radius: 5px;
    margin: 1rem 0px;
}

.portfolio-link:hover {
    text-decoration: none;
}

.portfolio-each {
    margin: 15px 20px;
    background-color: white;
    border: 1px solid #FFB6C1;
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.portfolio-each:hover {
    margin: 13px 18px;
}

.portfolio-image{
    padding: 1rem 1rem 0rem 1rem;
}

.portfolio-title {
    text-align: center;
    font-size: 20px;
    color: rgb(102, 98, 102);
    line-height: 2px;
    padding-top: 5px;
}
.portfolio-title p {
    font-size: 15px;
}

/* CONTACT */
.contact {
    background-color: white;
    border: 3px solid #FFB6C1;
    border-radius: 5px;
    margin: 25px 0rem;
    padding: 1rem 10px;
}
.submit-btn {
    background-color: #FFB6C1;
    color: #696969;
    border-radius: 2rem;

}
